@page
@model PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!--an example of Razor transitioning into C#-->

<p>Use this page to detail your site's privacy policy.</p>
